HTML {
    scroll-behavior: smooth;
}

BODY {
    background: radial-gradient(circle at top left, pink, purple, #9000ff);
    color: black;
    transition: background 1s, color 1s;
    font-family: sans-serif;
    font-size: 16px;
}

.dark-mode {
    background: black;
    color: white;
    transition: background 1s, color 1s;
}

.marquee, .table {
    color: black;
}

.dark-mode .marquee, .dark-mode .table {
    color: black;
}

A {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

H1, H2, H3, H4, H5, H6 {
    text-align: center;
}

HR {
    margin-left: auto;
    margin-right: auto;
}

TABLE {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    border: 5px solid #333;
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

TH {
    padding: 10px 20px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

TD {
    padding: 10px 20px;
    border: 1px solid #ddd;
    text-align: left;
}

TR:nth-child(even) {
    background-color: white;
}

TR:hover {
    background-color: #ddd;
}

.bounce {
    display: inline-block;
    animation: bounce 2s infinite cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-18px);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.moving-sort {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}

.moving-sort img {
width: 30px;
height: auto;
}

/*H2 {
font-size: 2em;
margin: 0;
}*/

.move-left {
    animation: move-left 2s infinite ease-in-out;
}

.move-right {
    animation: move-right 2s infinite ease-in-out;
}

@keyframes move-left {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
}

@keyframes move-right {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 10px;
}

.header h2 {
    margin: 0;
}

.emoji-button {
    font-size: 1.5em;
    background: transparent;
    border: 2px solid yellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.emoji-button:hover {
    opacity: 0.7;
}

.logo {
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
